<div class="container">
    <div class="navButton-container">
        <a href="/profile" ><button class="navButton">Ver mi perfil</button></a> 
        <a href="" class="goToCartButton" id="{{user.cart}}"><button class="navButton">Ir al carrito</button></a> 
    </div>
    <h1 class="title">¡Bienvenid@, {{user.first_name}}! Estos son los productos que tenemos disponibles.</h1>

    <div class="products-container">
        {{#if showProducts}}
            {{#each products}}
                <div class="card">
                    <div class="product-info">
                        <p class="product-features"><strong>{{this.name}}</strong></p>
                        <p class="product-features"> {{this.description}}</p>
                        <p class="product-features-center">Precio: ${{this.price}}</p>
                        <p class="product-features-center">Stock: {{this.stock}}</p>
                    </div>
                    <div class="actions"> 
                        <button class="cartButton" id="{{this._id}}">Agregar al carrito</button>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p class="error-text">¡Lo sentimos! Temporalmente no podemos mostrarte nuestros productos. Regresa más tarde. 😔</p>
        {{/if}}
    </div>
</div>

<script src="/js/products.js"></script>